<h1>TotesMaGoatz!</h1>
<p>Find me in app/views/meme/goatme.html.erb</p>

<div class="imgholder">
  <div class="sia-img">
  <%= image_tag @siapic %>
  </div><!--sia-img-->
  <div class="goat-img">
    <%= image_tag @goatpic %>
  </div><!--goat-img-->
</div><!--imgholder-->
