<center><h1>TotesMaGoatz!</h1>
<p>Find me in app/views/meme/goatme.html.erb</p></center>

<div class="imgholder">
  <div class="sia-img">
  <%= image_tag @siapic %>
  </div><!--sia-img-->
  <div class="goat-img">
    <%= image_tag @goatpic %>
  </div><!--goat-img-->
  <div class="caption">
    <p><%= @caption %>sample image caption!</p>
  </div><!--caption-->
</div><!--imgholder-->
