<div class="row">
  <center><h1>Greetings from Sia!</h1></center>
</div><!--row-->


<div class="row">
  <div class="imgholder">
    <div class="sia-img">
    <%= image_tag @siapic %>
    </div><!--sia-img-->
    <div class="goat-img">
      <%= image_tag @goatpic %>
    </div><!--goat-img-->
    <%= image_tag "goatlogo.png" , class: "logo" %>
    <div class="caption">
      <p><%= @caption %></p> 
    </div><!--caption-->
  </div><!--imgholder-->
</div><!--row-->

<div class="row">
  <center>
    <p>[Goat Me!]</p>
    <p>[Share]</p>
  </center>
</div><!--row-->


