<h1>TotesMaGoatz!</h1>
<p>Find me in app/views/meme/goatme.html.erb</p>

<div class="imgholder">
  <div class="sia-img">
  <%= image_tag @siapic %>
  </div><!--sia-img-->
  <div class="goat-img">
    <img src="http://img1.exportersindia.com/product_images/bc-full/dir_54/1610623/goat-395326.jpg">
  </div><!--goat-img-->
</div><!--imgholder-->
